<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
<div class="container-fluid bmi px-0">
  <div class="container p-5">
    <h2 class="h1-responsivefooter text-center my-4">Body Mass Index</h2>
    <div class="row">
      <div id="bmi_app" class="mx-auto w-100 shadow-lg rounded">
        <div class="input-group">
          <div class="input-group-prepend col-4 col-xl-3 col-lg-3 col-md-4 col-sm-4 px-0">
            <span class="input-group-text w-100">Weight</span>
          </div>
          <input matInput class="form-control col-4 col-xl-6 col-lg-6 col-md-5 col-sm-5" pattern="\d*" id="weight" type="number" min="25" max="300" step="1" placeholder="84" [(ngModel)]="weight" required="required" (ngModelChange)="weightChange($event)">
          <div class="input-group-append col-4 col-xl-3 col-lg-3 col-md-3 col-sm-3 px-0">
            <span class="input-group-text w-100">Kilogram</span>
          </div>
        </div>
        <div class="input-group">
          <div class="input-group-prepend col-4 col-xl-3 col-lg-3 col-md-4 col-sm-4 px-0">
            <span class="input-group-text w-100">Height</span>
          </div>
          <input matInput class="form-control col-4 col-xl-6 col-lg-6 col-md-5 col-sm-5" pattern="\d*" id="height" type="number" min="100" max="300" step="1" placeholder="184" [(ngModel)]="height" required="required" (ngModelChange)="heightChange($event)">
          <div class="input-group-append col-4 col-xl-3 col-lg-3 col-md-3 col-sm-3 px-0">
            <span class="input-group-text w-100">Centimeter</span>
          </div>
        </div>
        <div class="input-group">
          <div class="input-group-prepend col-12 col-xl-3 col-lg-3 col-md-4 col-sm-12 px-0">
            <span class="input-group-text w-100">BMI value</span>
          </div>
          <input matInput type="text" class="form-control col-12 col-xl-9 col-lg-9 col-md-8 col-sm-12" disabled [value]="bmiValue" [(ngModel)]="bmiValue">
        </div>
        <div class="input-group">
          <div class="input-group-prepend col-12 col-xl-3 col-lg-3 col-md-4 col-sm-12 px-0">
            <span class="input-group-text w-100">Explanation</span>
          </div>
          <input matInput type="text" class="form-control col-12 col-xl-9 col-lg-9 col-md-8 col-sm-12" disabled [value]="bmiExplanation" [(ngModel)]="bmiExplanation">
        </div>
        <div class="input-group">
          <div class="input-group-prepend col-12 col-xl-3 col-lg-3 col-md-4 col-sm-12 px-0">
            <span class="input-group-text w-100">Ideal Weight</span>
          </div>
          <input matInput type="text" class="form-control col-12 col-xl-9 col-lg-9 col-md-8 col-sm-12" disabled [value]="idealWeight" [(ngModel)]="idealWeight">
        </div>
        <div class="input-group">
          <div class="input-group-prepend col-12 col-xl-3 col-lg-3 col-md-4 col-sm-12 px-0">
            <span class="input-group-text w-100">Ideal Height</span>
          </div>
          <input matInput type="text" class="form-control col-12 col-xl-9 col-lg-9 col-md-8 col-sm-12" disabled [value]="idealHeight" [(ngModel)]="idealHeight">
        </div>
        <div class="input-group">
          <div class="input-group-prepend col-12 col-xl-3 col-lg-3 col-md-4 col-sm-12 px-0">
            <span class="input-group-text w-100">Recommendation</span>
          </div>
          <input matInput type="text" class="form-control col-12 col-xl-9 col-lg-9 col-md-8 col-sm-12" disabled [value]="recommendation" [(ngModel)]="recommendation">
        </div>
      </div>
    </div>
  </div>
</div>
<p>A product of <a href="https://tungpham42.info/" target="_blank">Phạm Tùng</a></p>