<mat-sidenav-container class="tp-container-side">
  <mat-sidenav mode="side" opened>
    <section class="tp-section">
      <span>File</span>
    </section>
    <section class="tp-section">
      <span>Edit</span>
    </section>
    <section class="tp-section">
      <span><a href="/bmi" target="_blank">BMI</a></span>
    </section>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-button [matMenuTriggerFor]="menu">File</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>New</button>
      <button mat-menu-item>Open</button>
      <button mat-menu-item [matMenuTriggerFor]="recent">Recent</button>
    </mat-menu>
    <mat-menu #recent="matMenu">
      <button mat-menu-item>File 1</button>
      <button mat-menu-item>File 2</button>
    </mat-menu>
    <mat-toolbar color="primary">
      <span class="gap">File</span>
      <span>Edit</span>
      <span class="filler"></span>
      <span>About</span>
    </mat-toolbar>
    <!--The content below is only a placeholder and can be replaced.-->
    <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
      <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
    <h2>Here are some links to help you start: </h2>
    <ul>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
      </li>
    </ul>
    
    <form class="tp-form">
      <mat-form-field class="tp-full-width">
        <input type="text" 
          placeholder="US State" 
          aria-label="Number" 
          matInput 
          [formControl]="myControl" 
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of states" [value]="state.value">
            {{state.display}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <h2 class="tp-h2">Checkbox configuration</h2>
    <section class="tp-section">
      <mat-checkbox class="tp-margin" [(ngModel)]="firstChecked">Checked</mat-checkbox>
      <mat-checkbox class="tp-margin" [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
    </section> 
    <section class="tp-section">
      <mat-checkbox class="tp-margin" [(ngModel)]="firstDisabled">Disabled</mat-checkbox>
    </section>
    <h2 class="tp-h2">Result</h2>
    <section class="tp-section">
      <mat-checkbox
        class="tp-margin"
        [(ngModel)]="firstChecked"
        [(indeterminate)]="indeterminate"
        [labelPosition]="labelPosition"
        [disabled]="firstDisabled">
        Sample Checkbox
      </mat-checkbox>
    </section>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="tp-container">
      <mat-form-field appearance="standard">
        <input matInput placeholder="Input">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Sample Hint</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select placeholder="Select">
          <mat-option value="A">A</mat-option>
          <mat-option value="B">B</mat-option>
          <mat-option value="C">C</mat-option>      
        </mat-select>
      </mat-form-field>
    </div>
    <form class="tp-form">
      <mat-form-field class="tp-full-width">
        <input matInput placeholder="Favorite Food" value="Pasta">
      </mat-form-field>
      <mat-form-field class="tp-full-width">
        <textarea matInput placeholder="Enter your comment"></textarea>
      </mat-form-field>
      <mat-form-field class="tp-full-width">
        <input matInput placeholder="Email" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('email') 
          && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <mat-radio-group class="tp-radio-group" [(ngModel)]="favoriteSeason">
      <mat-radio-button class="tp-radio-button"
        *ngFor="let season of seasons" [value]="season">
        {{season}}
      </mat-radio-button>
    </mat-radio-group>
    <div class="tp-selected-value">
      Selected Season: {{favoriteSeason}}
    </div>
    <form>
      <h4>Mat Select</h4>
      <mat-form-field>
        <mat-select placeholder="Favorite Food"
          [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let food of foods"
            [value]="food.value">
            {{food.display}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>Selected food: {{selectedValue}}</p>
    </form>
    <mat-slider
      class="tp-margin"
      [disabled]="secondDisabled"
      [invert]="invert"
      [thumbLabel]="thumbLabel"
      [(ngModel)]="value"
      [vertical]="vertical"
    >
    </mat-slider>
    <section class="tp-section">
      <mat-checkbox class="tp-margin" [(ngModel)]="thumbLabel">Show thumb label</mat-checkbox>
    </section>
    <section class="tp-section">
      <mat-checkbox class="tp-margin" [(ngModel)]="vertical">Vertical</mat-checkbox>
      <mat-checkbox class="tp-margin" [(ngModel)]="invert">Inverted</mat-checkbox>
    </section>
    <section class="tp-section">
      <mat-checkbox class="tp-margin" [(ngModel)]="secondDisabled">Disabled</mat-checkbox>
    </section>
    <mat-slide-toggle
      class="tp-margin"
      [checked]="thirdChecked"
      [disabled]="thirdDisabled"
    >
    Slide!
    </mat-slide-toggle>
    <section class="tp-section">
      <mat-checkbox class="tp-margin" [(ngModel)]="thirdChecked">Checked</mat-checkbox>
      <mat-checkbox class="tp-margin" [(ngModel)]="thirdDisabled">Disabled</mat-checkbox>
    </section>
    <mat-card class="tp-card">
      <mat-card-header>
        <div mat-card-avatar class="tp-header-image"></div>
        <mat-card-title>Phạm Tùng</mat-card-title>
        <mat-card-subtitle>Webmaster</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://tungpham42.info/wp-content/uploads/2018/09/profile.jpg" alt="Tùng" />
      <mat-card-content>
        <p>A part time, remote job including create HTML, SCSS from given design.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Like</button>
        <button mat-button>Share</button>
      </mat-card-actions>
    </mat-card>
    <mat-list role="list">
      <mat-list-item role="listitem">Táo</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Cam</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Chuối</mat-list-item>
    </mat-list>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type name and age
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Age">
      </mat-form-field>
    </mat-expansion-panel>
    <mat-grid-list cols="5" rowHeight="100px">
      <mat-grid-tile
        [colspan]="4"
        [rowspan]="1"
      >
        1
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="2"
      >
        2
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
      >
        3
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="3"
        [rowspan]="1"
      >
        4
      </mat-grid-tile>
    </mat-grid-list>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Enter your name</ng-template>
          <mat-form-field>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Enter your address</ng-template>
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <mat-tab-group>
      <mat-tab label="1">Táo</mat-tab>
      <mat-tab label="2">Chuối</mat-tab>
      <mat-tab label="3">Cà rốt</mat-tab>
    </mat-tab-group>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <button mat-icon-button disabled></button>
        {{node.filename}} : {{node.type}}
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.filename}}
      </mat-tree-node>
    </mat-tree>
    <div class="button-row">
      <button mat-button>Basic</button>
      <button mat-raised-button>Raised</button>
      <button mat-stroked-button>Stroked</button>
      <button mat-flat-button>Flat</button>
      <button mat-icon-button>
        <mat-icon aria-label="Heart">favorite</mat-icon>
      </button>
      <button mat-fab>Fab</button>
      <button mat-mini-fab>Mini</button>
      <a mat-button routerLink=".">Link</a>
    </div>
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle value="left">
        <mat-icon>format_align_left</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="center">
        <mat-icon>format_align_center</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="right">
        <mat-icon>format_align_right</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="justify">
        <mat-icon>format_align_justify</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="tp-selected-value">Selected value: {{group.value}}</div>
    <p><span matBadge="42" matBadgeOverlap="true">Hộp thư</span></p>
    <p>
      <button mat-raised-button color="primary" matBadge="420" matBadgePosition="after" matBadgeColor="accent">Hành động</button>
    </p>
    <p><mat-icon matBadge="42" matBadgeColor="warm">home</mat-icon></p>
    <mat-chip-list>
        <mat-chip>Một</mat-chip>
        <mat-chip>Hai</mat-chip>
        <mat-chip color="accent" selected>Ba</mat-chip>
        <mat-chip>Bốn</mat-chip>
        <mat-chip color="primary" selected>Năm</mat-chip>
    </mat-chip-list>
    <section class="tp-section-spinner">
      <label class="tp-margin-spinner">Color:</label>
      <mat-radio-group [(ngModel)]="spinnerColor">
        <mat-radio-button class="tp-margin-spinner" value="primary">
          Primary
        </mat-radio-button>
        <mat-radio-button class="tp-margin-spinner" value="accent">
          Accent
        </mat-radio-button>
        <mat-radio-button class="tp-margin-spinner" value="warm">
          Warm
        </mat-radio-button>
      </mat-radio-group>
    </section>
    <section class="tp-section-spinner">
      <label class="tp-margin-spinner">Mode:</label>
      <mat-radio-group [(ngModel)]="spinnerMode">
        <mat-radio-button class="tp-margin-spinner" value="determinate">
          Determinate
        </mat-radio-button>
        <mat-radio-button class="tp-margin-spinner" value="indeterminate">
          Indeterminate
        </mat-radio-button>
      </mat-radio-group>
    </section>
    <section class="tp-section-spinner" *ngIf="spinnerMode === 'determinate'">
      <label class="tp-margin-spinner">Progress:</label>
      <mat-slider class="tp-margin-spinner" [(ngModel)]="spinnerValue"></mat-slider>
    </section>
    <section class="tp-section-spinner">
      <label class="tp-margin-spinner">Mode: {{spinnerMode}}</label>
      <mat-progress-spinner
        class="tp-margin-spinner"
        [color]="spinnerColor"
        [mode]="spinnerMode"
        [value]="spinnerValue">
      </mat-progress-spinner>
    </section>
    <section class="tp-section-bar">
      <label class="tp-margin-bar">Color:</label>
      <mat-radio-group [(ngModel)]="barColor">
        <mat-radio-button class="tp-margin-bar" value="primary">
          Primary
        </mat-radio-button>
        <mat-radio-button class="tp-margin-bar" value="accent">
          Accent
        </mat-radio-button>
        <mat-radio-button class="tp-margin-bar" value="warm">
          Warm
        </mat-radio-button>
      </mat-radio-group>
    </section>
    <section class="tp-section-bar">
      <label class="tp-margin-bar">Mode:</label>
      <mat-radio-group [(ngModel)]="barMode">
        <mat-radio-button class="tp-margin-bar" value="determinate">
          Determinate
        </mat-radio-button>
        <mat-radio-button class="tp-margin-bar" value="indeterminate">
          Indeterminate
        </mat-radio-button>
        <mat-radio-button class="tp-margin-bar" value="buffer">
          Buffer
        </mat-radio-button>
        <mat-radio-button class="tp-margin-bar" value="query">
          Query
        </mat-radio-button>
      </mat-radio-group>
    </section>
    <section class="tp-section-bar" *ngIf="barMode === 'determinate' || barMode === 'buffer'">
      <label class="tp-margin-bar">Progress:</label>
      <mat-slider class="tp-margin-bar" [(ngModel)]="barValue"></mat-slider>
    </section>
    <section class="tp-section-bar" *ngIf="barMode === 'buffer'">
      <label class="tp-margin-bar">Buffer:</label>
      <mat-slider class="tp-margin-bar" [(ngModel)]="barBufferValue"></mat-slider>
    </section>
    <section class="tp-section-bar">
      <label>Mode: {{barMode}}</label>
      <mat-progress-bar
        class="tp-margin-bar"
        [color]="barColor"
        [mode]="barMode"
        [value]="barValue"
        [bufferValue]="barBufferValue">
      </mat-progress-bar>
    </section>
    <mat-checkbox [(ngModel)]="rippleCentered" class="tp-ripple-checkbox">Centered</mat-checkbox>
    <mat-checkbox [(ngModel)]="rippleDisabled" class="tp-ripple-checkbox">Disabled</mat-checkbox>
    <mat-checkbox [(ngModel)]="rippleUnbounded" class="tp-ripple-checkbox">Unbounded</mat-checkbox>
    <section>
      <mat-form-field class="tp-ripple-form-field">
        <input matInput [(ngModel)]="rippleRadius" type="number" placeholder="Radius">
      </mat-form-field>
      <mat-form-field class="tp-ripple-form-field">
        <input matInput [(ngModel)]="rippleColor" type="text" placeholder="Color">
      </mat-form-field>
    </section>
    <div class="tp-ripple-container"
      matRipple
      [matRippleCentered]="rippleCentered"
      [matRippleDisabled]="rippleDisabled"
      [matRippleUnbounded]="rippleUnbounded"
      [matRippleRadius]="rippleRadius"
      [matRippleColor]="rippleColor">
      Click me
    </div>
    <button mat-raised-button (click)="openSnackBar('Tiệc', 'tổ chức')">Open Snack Bar</button>
    <button mat-raised-button matTooltip="Sample tooltip" aria-label="Sample Tooltip">Click me!</button>
    <mat-paginator
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 50, 100]"
      (page)="pageEvent=$event">
    </mat-paginator>
    <div *ngIf="pageEvent">
      <h5>Page Changed Event</h5>
      <div>List length: {{pageEvent.length}}</div>
      <div>Page size: {{pageEvent.pageSize}}</div>
      <div>Page index: {{pageEvent.pageIndex}}</div>
    </div>
    <table matSort (matSortChange)="sortFood($event)">
      <tr>
        <th mat-sort-header="name">Dessert (100g)</th>
        <th mat-sort-header="calories">Calories</th>
        <th mat-sort-header="fat">Fat (g)</th>
        <th mat-sort-header="carbs">Carbs (g)</th>
        <th mat-sort-header="protein">Protein (g)</th>
      </tr>
      <tr *ngFor="let food of sortedFood">
        <td>{{food.display}}</td>
        <td>{{food.calories}}</td>
        <td>{{food.fat}}</td>
        <td>{{food.carbs}}</td>
        <td>{{food.protein}}</td>
      </tr>
    </table>
    <table mat-table [dataSource]="foods">
      <ng-container matColumnDef="display">
        <th mat-header-cell *matHeaderCellDef>Dessert (100g)</th>
        <td mat-cell *matCellDef="let element">{{element.display}}</td>
      </ng-container>
      <ng-container matColumnDef="calories">
        <th mat-header-cell *matHeaderCellDef>Calories</th>
        <td mat-cell *matCellDef="let element">{{element.calories}}</td>
      </ng-container>
      <ng-container matColumnDef="fat">
        <th mat-header-cell *matHeaderCellDef>Fat (g)</th>
        <td mat-cell *matCellDef="let element">{{element.fat}}</td>
      </ng-container>
      <ng-container matColumnDef="carbs">
        <th mat-header-cell *matHeaderCellDef>Carbs (g)</th>
        <td mat-cell *matCellDef="let element">{{element.carbs}}</td>
      </ng-container>
      <ng-container matColumnDef="protein">
        <th mat-header-cell *matHeaderCellDef>Protein (g)</th>
        <td mat-cell *matCellDef="let element">{{element.protein}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-sidenav-content>
</mat-sidenav-container>